<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <title>Write a New Letter</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <div class="container">
  <main>
    <h1>Write a New Letter</h1>
    <form action="/letters" method="POST">
      <input type="text" name="title" placeholder="Letter Title" required><br><br>
      <textarea name="body" rows="10" cols="40" placeholder="Write your letter..." required></textarea><br><br>
      <button type="submit">Save Letter</button>
    </form>
    <br />
    <a href="/">â† Back to Letters</a>
  </main>
  </div>
</body>
</html>
