<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <title><%= letter.title %> - Letter to My Wife</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <main>
    <h1><%= letter.title %></h1>
    <p><%= letter.body %></p>
    <small>Written on <%= letter.date.toDateString() %></small>
    <br><br>
    <a href="/">← Back to all letters</a>
  </main>
</body>
</html>
